<div class="container main-content page-404">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 power-plug">
      <div class="col-md-7 col-md-offset-5">
        <h1>{{ 'general.404.title' | t }}<small>{{ 'general.404.title_small' | t }}</small></h1>
        <p>{{ 'general.404.subtext_html' | t }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <a href="{{ shop.url }}" class="blk-btn">Power Back Up</a>
    </div>
  </div>
</div>
