#hero{
  &.charging-outlets{
    padding: 0;
    .wht-gradient{
      background: rgba(255,255,255,0.7);
      padding: 100px 50px;
      text-align: left;
      h1, h2, p{
        color: #000;
      }
      p{
        font-size: 18px;
        &.red{
          color: red;
          font-weight: 700;
        }
      }
    }
  }
}
.charging-outlet-types{
  min-height: 980px;
  padding: 50px;
  color: $third;
  h3{
    color: $third;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
  }
  h4, ul, li{
    color: $third;
  }
}
.how-to-specify{
  h2{
    font-weight: 700;
  }
  h3{
    font-weight: 400;
    margin-bottom: 30px;
  }
  .specify-block{
    p{
      font-size: 18px;
      margin: 20px 0;
    }
  }
}
#shopify-section-more-charging-outlets{
  .gray-btn{
    display: block;
    width: 100%;
    padding: 8px 8px;
  }
}
