#main-content{
  font-size: 18px;
  header{
    text-align: center;
    h1{
      font-size: 27px;
    }
  }
}
#homepage-outlets{
  .outlet-type{
    text-align: center;
    padding: 100px 50px;
    background: rgba(0,0,0,.8);
    h3{
      font-size: 30px;
    }
    p{
      font-size: 16px;
      font-weight: 700;
      max-width: 50%;
      margin: 0 auto 30px auto;
    }
  }
}
