.gallery-image-block{
  border: 2px solid $third;
  height: 280px;
  padding: 0;
  @include prefix(background-size, cover, spec webkit moz);
  a{
    display: block;
    width: 100%;
    height: 280px;
  }
}
.idea-videos{
  video{
    max-width: 100%;
    height: 315px;
  }
  iframe{
    max-width: 100%;
    height: 315px;
  }
  .details{
    text-align: center;
    color: $third;
  }
}
