.literature-block{
  padding: 150px 30px;
  text-align: center;
  @include prefix(background-size, cover, spec webkit moz);
  h3{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
  }
}
