.powering-outlet-types-container{
  h3{
    color: $third;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
  }
  ul{
    li{
      color: $third;
    }
  }
}
#shopify-section-more-powering-outlets{
  .gray-btn{
    display: block;
    width: 100%;
    padding: 8px 8px;
  }
}
