@charset "UTF-8";
/*============================================================================
  [replace with theme name] | Built with Slate
    - You cannot use native CSS/Sass @imports in this file without a build script
==============================================================================*/

/*================ UTILS ================*/
@import url('tools/mixins.scss');

/*================ SETTINGS ================*/
@import url('settings/variables.scss.liquid');

/*================ COMMON ================*/
@import url('global/normalize.scss');
@import url('global/slate-reset.scss');
@import url('global/helper-classes.scss');
@import url('global/grid.scss');
@import url('global/layout.scss');
@import url('global/icons.scss');
@import url('global/rte.scss');
@import url('global/responsive-tables.scss');
@import url('global/links-buttons.scss');
@import url('global/forms.scss');
@import url('global/blank-states.scss');

/*================ MODULES ================*/
@import url('modules/site-header.scss');
@import url('modules/gift-card-template.scss');

//=============== Variables/Fonts ===================
@import url('variables.scss');

//=============== Navigation Styles =================
#header-nav-container{
  background: rgba(35,35,35,.95);
  padding: 10px 0;
  &.navbar-default{
    .navbar-nav{
      margin-top: 10px;
      float: right;
      li{
        margin: 0 5px;
        ul{
          background: rgba(35,35,35,.95);
          li{
            a{
              &:hover{
                background: #000;
                border-color: #000;
              }
            }
          }
        }
        &.active{
          a{
            background: none;
          }
        }
        &.open{
          background: none;
          a{
            background: none;
          }
        }
        a{
          color: $third;
          font-family: $heading-font;
          font-size: 14px;
          border: 2px solid transparent;
          border-radius: 3px;
          padding: 3px 10px;
          text-transform: uppercase;
          &:hover{
            color: $third;
            border-color: $third;
          }
        }
      }
    }
  }
  .shopping-cart-container{
    padding-top: 10px;
    a{
      color: $third;
      &:hover{
        color: $primary;
      }
    }
  }
}

//================= Footer Styles ==================
footer{
  background: #232323;
  padding: 20px 0;
  color: $third;
  .row{
    margin-bottom: 10px;
  }
  h3{
    color: $primary;
    font-family: $heading-font;
    font-weight: 700;
    font-size: 14px;
  }
  p{
    color: $third;
  }
  .schema{
    strong{
      display: block;
      font-size: 16px;
    }
  }
  form{
    input{
      color: $third;
      background: #181818;
      padding: 10px;
      width: 75%;
      border: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      &:focus{
        box-shadow: none;
        outline: none;
      }
    }
    button{
      background: #181818;
      margin: -1px 0 0 -5px;
      border-radius: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      min-height: 36px;
    }
  }
  .social{
    margin: 0;
    padding: 0;
    li{
      display: inline;
      margin: 0 3px;
      a{
        color: $third;
        &:hover{
          color: $primary;
        }
      }
    }
  }
}
