@charset "UTF-8";
/*============================================================================
  [replace with theme name] | Built with Slate
    - You cannot use native CSS/Sass @imports in this file without a build script
==============================================================================*/

/*================ UTILS ================*/
@import url('tools/mixins.scss');

/*================ SETTINGS ================*/
@import url('settings/variables.scss.liquid');

/*================ COMMON ================*/
@import url('global/normalize.scss');
@import url('global/slate-reset.scss');
@import url('global/helper-classes.scss');
@import url('global/grid.scss');
@import url('global/layout.scss');
@import url('global/icons.scss');
@import url('global/rte.scss');
@import url('global/responsive-tables.scss');
@import url('global/links-buttons.scss');
@import url('global/forms.scss');
@import url('global/blank-states.scss');

/*================ MODULES ================*/
@import url('modules/site-header.scss');
@import url('modules/gift-card-template.scss');

//=============== Variables/Fonts/Pages ===================
@import url('variables.scss');
@import url('pages/home.scss');
@import url('pages/literature-library.scss');
@import url('pages/charging-outlets.scss');
@import url('pages/distributors.scss');
@import url('pages/powering-outlets.scss');
@import url('pages/cabinet-manufacturers.scss');
@import url('pages/electrical-distributors.scss');
@import url('pages/idea-library.scss');
@import url('pages/cabinet-distributors.scss');
@import url('pages/rest-of-world.scss');
//@import url('pages/specification.scss');

//=============== Navigation Styles =================
body{
  padding-top: 60px;
  font-size: 16px;
  font-family: $body-font;
}
h1, h2, h3, h4, h5, h6{
  font-family: $alt-font;
  font-weight: 700;
}
hr{
  border-color: #b3b3b3;
  margin: 0 auto 50px auto;
}
header{
  margin: 0;
  padding: 20px;
  text-align: center;
  h1, h2, h3{
    margin-bottom: 15px;
  }
  .gray-btn, .blk-btn{
    display: inline-block;
    margin: 20px 0;
  }
}
.main-content{
  padding-top: 50px;
  padding-bottom: 50px;
  header{
    padding: 0;
  }
}
.gray-btn{
  color: $third;
  font-family: $body-font;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px 20px;
  border: 2px solid #a1a1a1;
  background: #a1a1a1;
  transition-duration: .3s;
  &:hover{
    color: $third;
    border-color: $third;
    background: transparent;
    text-decoration: none;
  }
}
.blk-btn{
  color: $third;
  font-family: $body-font;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px 20px;
  border: 2px solid #000;
  background: #000;
  transition-duration: .3s;
  i{
    margin-right: 10px;
    font-size: 17px;
  }
  &:hover{
    color: #000;
    border-color: #000;
    background: $third;
    text-decoration: none;
  }
  &.block{
    display: block;
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin: 10px 0;
  }
}

//================ Video Banner Styles ===================
#video-bg{
  position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  margin-top: -60px;
  padding-top: 200px;
	overflow: hidden;
	height: 560px;
  @include prefix(background-size, cover, moz webkit spec);
  & > video{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
  .banner{
    h1{
      font-size: 50px;
    }
  }
}
@media (min-aspect-ratio: 16/9){
	#video-bg > video{
		height: 300%;
		top: -100%;
	}
}
@media(max-aspect-ratio: 16/9){
	#video-bg > video{
		width: 300%;
		left: -100%;
	}
}
@supports (object-fit: cover){
	#video-bg > video{
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
#hero{
  min-height: 360px;
  text-align: center;
  margin-top: -60px;
  padding: 120px 20px 50px 20px;
  @include prefix(background-size, cover, spec webkit moz);
  h1{
    color: $third;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.6);
    font-family: $alt-font;
    font-weight: 700;
    font-size: 50px;
  }
}

//================ Navigation Styles =====================
#header-nav-container{
  background: rgba(35,35,35,.95);
  padding: 10px 0;
  &.navbar-default{
    border: none;
    .navbar-nav{
      margin-top: 7px;
      float: right;
      li{
        margin: 0px 4px;
        ul{
          background: rgba(35,35,35,.95);
          li{
            a{
              &:hover{
                background: #000;
                border-color: #000;
              }
            }
          }
        }
        &.active{
          a{
            background: none;
            border: 2px solid $third;
          }
        }
        &.open{
          background: none;
          a{
            background: none;
          }
        }
        a{
          color: $third;
          font-family: $heading-font;
          font-size: 14px;
          border: 2px solid transparent;
          border-radius: 2px;
          padding: 8px 12px;
          text-transform: uppercase;
          &:hover{
            color: $third;
            border-color: $third;
          }
        }
      }
    }
  }
  .shopping-cart-container{
    padding-top: 15px;
    a{
      color: $third;
      font-size: 14px;
      padding: 8px 12px;
      border-radius: 2px;
      border: 2px solid transparent;
      text-transform: uppercase;
      &:hover{
        color: $third;
        border: 2px solid $third;
        text-decoration: none;
      }
    }
  }
}
.customer-account-links{
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      display: block;
      margin: 3px 0;
      a{
        color: $third;
        font-size: 13px;
        text-transform: uppercase;
      }
    }
  }
}
//Third level dropdown//
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

//================= Footer Styles ==================
footer{
  background: #232323;
  padding: 20px 0 50px 0;
  color: $third;
  font-size: 14px;
  .row{
    margin-bottom: 10px;
  }
  h3{
    color: $primary;
    font-family: $heading-font;
    font-weight: 700;
    font-size: 14px;
  }
  p{
    color: $third;
  }
  .schema{
    strong{
      display: block;
      font-size: 16px;
    }
  }
  form{
    input{
      color: $third;
      background: #181818;
      padding: 10px;
      width: 75%;
      border: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      &:focus{
        box-shadow: none;
        outline: none;
      }
    }
    button{
      background: #181818;
      margin: -1px 0 0 -5px;
      border-radius: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      min-height: 36px;
    }
  }
  .social{
    margin: 0;
    padding: 0;
    li{
      display: inline;
      margin: 0 3px;
      a{
        color: $third;
        &:hover{
          color: $primary;
        }
      }
    }
  }
  small{
    color: #999999;
  }
}
//Product Styles//
.product-collections{
  .row{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  h3{
    margin: 0 0 20px 0;
  }
  h4{
    font-size: 14px;
    text-transform: uppercase;
    margin: 30px 0 5px 0;
  }
  hr{
    margin: 30px auto;
  }
  .blk-btn{
    display: inline-block;
    width: 200px;
    text-align: center;
  }
}
.product-images{
  margin: 0;
  padding: 0;
  li{
    display: block;
    width: 25%;
    float: left;
    padding: 10px;
  }
}
.product-form{
  .row{
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.product-type{
  text-transform: uppercase;
  font-weight: 700;
}
.price{
  font-family: $alt-font;
  font-size: 20px;
  padding-top: 20px;
}
.product-details{
  background: #f0f4f7;
}
.product-row{
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #b3b3b3;
  &:last-of-type{
    border: none;
  }
  h4{
    margin-bottom: 20px;
  }
  .blk-btn{
    display: block;
    width: 85%;
    margin: 0 auto;
    text-align: center;
  }
}
//Contact Styles//
.overlay{
  display: none;
  position: fixed;
  overflow: scroll;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 60px;
  background: rgba(0,0,0,0.7);
  .wht-block{
    background: $third;
    padding: 40px;
    border-radius: 7px;
    position: relative;
    .close{
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
  }
}
.contact-page{
  header{
    margin-bottom: 60px;
  }
}
.info{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
    margin-bottom: 20px;
    i{
      display: block;
      float: left;
      color: #009cde;
      font-size: 22px;
      margin: 0 7px 20px 0;
    }
  }
}
.contact-form-container{
  input, textarea, select{
    width: 100% !important;
    max-width: 100% !important;
  }
  input[type="submit"]{
    max-width: 200px !important;
    border-radius: 0;
    color: $third;
    font-family: $body-font;
    font-size: 14px;
    text-transform: uppercase;
    padding: 12px 20px !important;
    border: 2px solid #000 !important;
    background: #000;
    box-shadow: none !important;
    transition-duration: .3s;
    &:hover{
      color: #000;
      border-color: #000 !important;
      background: $third;
      text-decoration: none;
    }
  }
}
.homeowner{
  h3{
    font-size: 20px;
  }
}
.resource{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.na-outlets, .ina-outlets{
  .na-outlet, .ina-outlet{
    padding: 50px;
    min-height: 1000px;
    h3{
      text-align: center;
      font-size: 30px;
      max-width: 280px;
      margin: 0 auto;
    }
    img{
      display: block;
      margin: 50px auto;
    }
    .buttons-container{
      max-width: 350px;
      margin: 0 auto;
    }
    .cta_button{
      @extend .blk-btn;
    }
    .blk-btn, .cta_button{
      display: block;
      width: 100%;
      max-width: 350px;
      margin: 4px 0;
      text-align: center;
      font-weight: 700;
      &:hover{
        background: #000;
        color: #fff;
      }
    }
    p{
      margin-top: 30px;
    }
  }
}


@import url('responsive.scss');
