@charset "UTF-8";
/*============================================================================
  [replace with theme name] | Built with Slate
    - You cannot use native CSS/Sass @imports in this file without a build script
==============================================================================*/

/*================ UTILS ================*/
@import url('tools/mixins.scss');

/*================ SETTINGS ================*/
@import url('settings/variables.scss.liquid');

/*================ COMMON ================*/
@import url('global/normalize.scss');
@import url('global/slate-reset.scss');
@import url('global/helper-classes.scss');
@import url('global/grid.scss');
@import url('global/layout.scss');
@import url('global/icons.scss');
@import url('global/rte.scss');
@import url('global/responsive-tables.scss');
@import url('global/links-buttons.scss');
@import url('global/forms.scss');
@import url('global/blank-states.scss');

/*================ MODULES ================*/
@import url('modules/site-header.scss');
@import url('modules/gift-card-template.scss');

//=============== Variables/Fonts/Pages ===================
@import url('variables.scss');
@import url('pages/home.scss');
@import url('pages/literature-library.scss');
@import url('pages/charging-outlets.scss');
@import url('pages/distributors.scss');
@import url('pages/powering-outlets.scss');


//=============== Navigation Styles =================
body{
  padding-top: 60px;
  font-size: 16px;
  font-family: $body-font;
}
h1, h2, h3, h4, h5, h6{
  font-family: $heading-font;
  font-weight: 700;
}
header{
  margin: 0;
  padding: 20px;
  text-align: center;
  h1, h2, h3{
    margin-bottom: 15px;
  }
  .gray-btn, .blk-btn{
    display: inline-block;
    margin: 20px 0;
  }
}
.main-content{
  padding-top: 50px;
  padding-bottom: 50px;
  header{
    padding: 0;
  }
}
.gray-btn{
  color: $third;
  font-family: $body-font;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px 20px;
  border: 2px solid #a1a1a1;
  background: #a1a1a1;
  transition-duration: .3s;
  &:hover{
    color: $third;
    border-color: $third;
    background: transparent;
    text-decoration: none;
  }
}
.blk-btn{
  color: $third;
  font-family: $body-font;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px 20px;
  border: 2px solid #000;
  background: #000;
  transition-duration: .3s;
  &:hover{
    color: #000;
    border-color: #000;
    background: $third;
    text-decoration: none;
  }
}

//================ Video Banner Styles ===================
#video-bg{
  position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  margin-top: -60px;
  padding-top: 200px;
	overflow: hidden;
	height: 560px;
  & > video{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
  .banner{
    h1{
      font-size: 50px;
    }
  }
}
@media (min-aspect-ratio: 16/9){
	#video-bg > video{
		height: 300%;
		top: -100%;
	}
}
@media(max-aspect-ratio: 16/9){
	#video-bg > video{
		width: 300%;
		left: -100%;
	}
}
@supports (object-fit: cover){
	#video-bg > video{
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
#hero{
  min-height: 360px;
  text-align: center;
  margin-top: -60px;
  padding: 120px 20px 50px 20px;
  @include prefix(background-size, cover, spec webkit moz);
  h1{
    color: $third;
    font-weight: 700;
    font-size: 50px;
  }
}

//================ Navigation Styles =====================
#header-nav-container{
  background: rgba(35,35,35,.95);
  padding: 7px 0;
  &.navbar-default{
    border: none;
    .navbar-nav{
      margin-top: 10px;
      float: right;
      li{
        margin: 0 5px;
        ul{
          background: rgba(35,35,35,.95);
          li{
            a{
              &:hover{
                background: #000;
                border-color: #000;
              }
            }
          }
        }
        &.active{
          a{
            background: none;
          }
        }
        &.open{
          background: none;
          a{
            background: none;
          }
        }
        a{
          color: $third;
          font-family: $heading-font;
          font-size: 14px;
          border: 2px solid transparent;
          border-radius: 3px;
          padding: 3px 7px;
          text-transform: uppercase;
          &:hover{
            color: $third;
            border-color: $third;
          }
        }
      }
    }
  }
  .shopping-cart-container{
    a{
      color: $third;
      &:hover{
        color: $primary;
      }
    }
  }
  .customer-account-links{
    ul{
      margin: 0;
      padding: 0;
      li{
        list-style: none;
        display: inline-block;
        margin: 0 15px 0 0;
      }
    }
  }
}
//Third level dropdown//
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

//================= Footer Styles ==================
footer{
  background: #232323;
  padding: 20px 0;
  color: $third;
  font-size: 14px;
  .row{
    margin-bottom: 10px;
  }
  h3{
    color: $primary;
    font-family: $heading-font;
    font-weight: 700;
    font-size: 14px;
  }
  p{
    color: $third;
  }
  .schema{
    strong{
      display: block;
      font-size: 16px;
    }
  }
  form{
    input{
      color: $third;
      background: #181818;
      padding: 10px;
      width: 75%;
      border: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      &:focus{
        box-shadow: none;
        outline: none;
      }
    }
    button{
      background: #181818;
      margin: -1px 0 0 -5px;
      border-radius: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      min-height: 36px;
    }
  }
  .social{
    margin: 0;
    padding: 0;
    li{
      display: inline;
      margin: 0 3px;
      a{
        color: $third;
        &:hover{
          color: $primary;
        }
      }
    }
  }
}
//Product Styles//
.product-images{
  margin: 0;
  padding: 0;
  li{
    display: block;
    width: 25%;
    float: left;
    padding: 10px;
  }
}
.product-form{
  .row{
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@import url('responsive.scss');
